.App {
  text-align: center;
  display: flex;
  flex-direction: row
}








.artboard{

  width: 1040px;
  .links{
    fill:none;
    stroke:#555;
    stroke-width: 1.5px;
  }
}

.edit-form{
  width:450px;

  form{
    margin-left: 48px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    fieldset{
      width: 98%;
        .fieldset-div{
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: flex-start;
          
        }
    }

    label{
      margin-top:40px;
      display: flex;
      flex-direction: column;
        input{
          border:solid 1px deepskyblue;
        }
    }

    
    
  }
      .state{
        width: 100%;
        &__headers{
          display: flex;
          flex-direction: row;
          h5{
            width: 100%;
          }
        }
        &__list{
          display: flex;
          flex-direction: row;
        }
        &__add{
          display: flex;
          flex-direction: row;
          justify-content: space-around;
          label{
            width: 45%;
          }
          input[type="submit"]{
            margin-top: 25px;
            height:30px;
            font-size: 25px;
          }
        }
      }
    
    .child{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
    }
      
}

.node{

  &__rect{
    
  }
  &__text{
    transform: translate(-3%,0);
  }
}
