@import '/fonts/stylesheet.css';
$darkblue:#05386B;
$darkGreen:#379683;
$fadegreen:#8ee4af;
$green:#5CDB95;
$white:#EDF5E1;

.App {
  text-align: center;
  display: flex;
  flex-direction: row;
  color:$white;

  font-family:'AvenirNext' ;
}








.artboard{
  
  width: 100%;
  margin:0 auto;
  color:$darkblue;
  svg{
    margin-left: 60px;
  }
  .links{
    fill:none;
    stroke:$darkblue;
    stroke-width: 1.5px;
  }
}

.form{
  width:400px;
  background-color:$darkblue;
  color:$white;
  &__name{

    flex-direction: row;
  
    margin:34px 24px 0;
    input[type=text]{
      width: 85%;
      color: $white;
      border:none;
      font-size: 32px;
      height: 38px;
      box-shadow: none;
      background: none;
      border-bottom: solid 1px $fadegreen;
      &:focus{
        border:solid 1px $fadegreen;
      }
    }
    button{
      background: none;
      border:none;
    }
  }
  form{
    margin-left: 24px;
    margin-right: 24px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    

    label{
      margin-top:40px;
      display: flex;
      flex-direction: column;
        
    }

    
    
  }
  .container{
    width: 100%;
    &__headers{
      width:85%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin-left: 28px;
      
      h4{
        line-height: 0px;
        width: 100%;
        font-weight: 300;
        font-size:25px; 
        text-align: left;
        margin: 34px 0 12px 0 ;
      }
      h5{
        line-height: 0px;
        width:50%;
        text-align: left;
      }
    }
    &__list{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      margin:0 24px;
      .container__obj{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        &__content{
          width: 100%;
          display: flex;
          margin:3px 0;
          background-color:$green ;
          flex-direction: row;
          justify-content: flex-start;
          height:28px;
          border-radius:12px; 
          color:$darkblue;
          h6{
            width: 50%;
            line-height: 0.4;
            font-size: 18px;
            font-weight: 500;
            margin:12px 0 0 15px;
            text-align: left;
          }
          span{
            margin: 1;
            line-height: 2
          }
        }
        button{
          width: 38px;
          height: 42px;
          margin-bottom: 10px;
          background: none;
          border:none;
          box-shadow: none;
        }
      }
          
    }
    &__add{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      label{
        width: 45%;
      }
      input{
        background-color: $darkblue;
        color: $green;
        margin-right:8px;
        font-size: 16px;
        border:none;
        border-bottom: solid 1px $fadegreen;
        outline: none;
      }
      select{
        background-color: $green;
        outline: none;
        color: $darkblue;
        height: 25px;
        border: none;
        border-radius: 18px;
        font-family: "AvenirNext"
      }
      button{
        margin-top: 25px;
        height: 50px;
        width: 50px;
        background: none;
        border: none;
        font-size: 25px;
      }
    }
  }
    
  .child{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;  
    background-color: $green;
    margin:10px 12px;
    border-radius: 10px;
    &__name{
      color:$darkblue;
      font-size: 30px;
      line-height: 0px;
      margin:none;
    }
    &__copy{
      width:48px;
      height:48px;
    }
  }
  .add_child{
    width: 100%;
    input[type=text]{
      background: none;
      background-color: $darkblue;
      border:none;
      border-bottom: solid 1px $fadegreen;
      width: 300px;
      outline: none;
      font-size: 20px;
      color: $green;
    }
    button{
      width: 50px;
      height: 50px;
      margin-top: 20px;
      background:$darkblue;
      border: none;
      
    }
  }
      

}
.download{
  position: fixed;
  bottom:48px;
  right:48px;
}

.node{

  &__rect{
    
  }
  &__text{
    transform: translate(-3%,0);
    }
  }

