.App {
  text-align: center;
  display: flex;
  flex-direction: row
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}




.artboard{

  width: 1040px;
  .links{
    fill:none;
    stroke:#555;
    stroke-width: 1.5px;
  }
}

.edit-form{
  width:450px;

  form{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    label{
      margin-top:40px;
    }
  }
}

.node{

  &__rect{
    
  }
  &__text{
    transform: translate(-3%,0);
  }
}
